[submodule "Enzyme"]
	path = Enzyme
	url = https://github.com/EnzymeAD/Enzyme.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tests/mhfem/CppStandardLibraryModule"]
	path = tests/mhfem/CppStandardLibraryModule
	url = https://github.com/stripe2933/CppStandardLibraryModule.git
